<footer class="bg-dark-green pv4 ph3 ph5-m ph6-l white">
  <div class="flex justify-between">
    <div>
      <h3 class="f3">SauberEco</h3>
      <p class="f5">Nachhaltige Waschmittel für eine grünere Zukunft.</p>
    </div>
    <div class="flex">
      <div class="mr4">
        <a href="/ueber-uns/" class="link white-80 hover-white db mb2">Über uns</a>
        <a href="/philosophie/" class="link white-80 hover-white db mb2">Unsere Philosophie</a>
        <a href="/transparenz/" class="link white-80 hover-white db mb2">Transparenz</a>
        <a href="/nachhaltigkeit/" class="link white-80 hover-white db mb2">Nachhaltigkeit</a>
        <a href="/karriere/" class="link white-80 hover-white db mb2">Karriere</a>
        <a href="/posts/" class="link white-80 hover-white db mb2">Blog</a>
        <a href="/downloads/" class="link white-80 hover-white db mb2">Downloads</a>
        <a href="/faq/" class="link white-80 hover-white db mb2">FAQ</a>
      </div>
      <div>
        <a href="/kontakt/" class="link white-80 hover-white db mb2">Kontakt</a>
        <a href="/impressum/" class="link white-80 hover-white db mb2">Impressum</a>
      </div>
    </div>
  </div>
  <div class="mt4">
    <p class="f6">© 2024 SauberEco. Alle Rechte vorbehalten.</p>
  </div>
</footer>
