<header class="fixed-header bg-dark-green pv2 ph3 flex items-center justify-between">
  <div class="flex items-center">
    <a href="/" class="flex items-center">
      <img src="/images/saubereco_logo.png" alt="Logo" class="h2 w2">
      <h1 class="ml3 white hover-underline">SauberEco</h1>
    </a>
  </div>
  <nav class="flex items-center">
    <a href="/services/" class="link white-80 hover-white mh3">Services</a>
    <a href="/produkte/" class="link white-80 hover-white mh3">Produkte</a>
    <a href="/fallstudien/" class="link white-80 hover-white mh3">Fallstudien</a>
    <a href="/insights/" class="link white-80 hover-white mh3">Insights</a>
    <a href="/kontakt/" class="link white-80 hover-white mh3">Kontakt</a>
  </nav>
</header>
