.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Stellen Sie sicher, dass der Header über anderen Elementen liegt */
}

.pa3 {
  padding: 1rem;
}

.pa5-l {
  padding: 3rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mb4 {
  margin-bottom: 1.5rem;
}

.f1 {
  font-size: 3rem;
  font-weight: bold;
  color: #006400; /* Dunkelgrün */
}

.f4 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  background-color: #f7f7f7; /* Dezenter Pastellton */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.icon-eco {
  color: #2e7d32; /* Dunkles Grün */
}

.icon-time {
  color: #1976d2; /* Dunkles Blau */
}

.icon-inclusive {
  color: #0288d1; /* Mittleres Blau */
}

.icon-nature {
  color: #388e3c; /* Mittleres Grün */
}

.icon-place {
  color: #1565c0; /* Kräftiges Blau */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Eine Spalte für kleinere Bildschirme */
  }

  .f1 {
    font-size: 2.5rem;
  }

  .f4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Drei Spalten für größere Bildschirme */
  }

  .grid-item {
    margin-bottom: 2rem; /* Mehr Luft zwischen den Karten */
  }
}

.h2 {
  height: 2rem;
}

.w2 {
  width: 2rem;
}

.ml3 {
  margin-left: 1rem;
}

.white {
  color: #ffffff;
}

.bg-dark-green {
  background-color: #006400; /* Dunkelgrün */
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.link {
  text-decoration: none;
}

.white-80 {
  color: rgba(255, 255, 255, 0.8);
}

.hover-white:hover {
  color: #ffffff;
}

.mh3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.bg-black {
  background-color: #000000;
}

.br3 {
  border-radius: 0.5rem;
}

.pa2 {
  padding: 0.5rem;
}

.mosaic {
  display: inline-block;
  background: url('/images/mosaic.png') repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.5s;
}

.mosaic:hover {
  background-position: 100% 0;
}

.menu-item {
  position: relative;
}

.menu-item .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f7f7f7;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.menu-item:hover .submenu {
  display: grid;
}

.menu-item a {
  transition: all 0.3s ease;
}

.menu-item:hover a {
  transform: translateY(-5px);
  background-color: #e0e0e0;
}

.submenu-item {
  display: flex;
  align-items: center;
}

.submenu-item img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.submenu-item h3 {
  margin: 0;
  font-size: 1rem;
}

.submenu-item p {
  margin: 0;
  font-size: 0.875rem;
  color: #666;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.w-30-l {
  width: 30%;
}

@media (max-width: 60em) {
  .w-30-l {
    width: 100%;
  }
}

.bg-white {
  background-color: white;
}

.ba {
  border-style: solid;
}

.b--black-10 {
  border-color: rgba(0, 0, 0, 0.1);
}

.post-content {
  padding-top: 100px; /* Passen Sie diesen Wert nach Bedarf an */
}